.footer {
    background-color: #0069ca;
    font-size: 1.4rem;
    padding-bottom: 30px;
    &__contact {
        padding: 2rem;
        width: 80%;
        float: right;
        color: rgb(21, 175, 137);
        @include respond(phone) {
            width: 100%;
        }
        &__shape {
            width: 20rem;
            height: 20rem;
            float: center;
            clip-path: circle(50% at 50% 50%);
            -webkit-clip-path: circle(50% at 50% 50%);
            @include respond(phone) {
                margin: 0 auto;
                width: 25rem;
                height: 25rem;
            }
            &__img {
                width: 100%;
            }
        }
    }
    .about-me {
        //  color: rgb(59, 20, 199);
        color: white;
        @include respond(phone) {
            margin-left: 2rem;
        }
        .markedAbout {
            font-size: 2.5rem;
            font-weight: 500;
            .contactDetails {
                font-size: 2.5rem;
                font-weight: 700;
                .removeDeco {
                    text-decoration: none;
                    color: white;
                }
                .icon {
                    width: 30px;
                }
            }
        }
    }
}

.wave-container2>svg {
    display: block;
    position: relative;
    top: 20%;
}