.header {
    height: 100vh;
    background-color: #0069ca;
    background-size:cover;
    background-position: top;

    &__logo-box {
        position: absolute;
        top: 40%;
        left: 77%;
        transform: translate(-50%, -50%);
        z-index: 100;
           @include respond(phone){
          top: 75%;
        left: 50%;
        
         }
    }
         
     

        
    &__logo {
        height: 75rem;

        @include respond(tab-land){
          height:55rem;
         }
       
    }

    &__logo__mobile{
        display:none;
    }

    @include respond(phone){
        &__logo{
             display:none;
        }

        &__logo__mobile{
         display:block;   
         height:auto;
         width:100vw;
    }
       
         }

    



    &__text-box {
        position: relative;
        top: 25%;
        left: 25%;
        width: 33%;
        font-size: 1rem;
        transform: translate(-50%, -50%);
        text-align: left;
        @include respond(phone){
          width:64%;
          line-height:1.4;
          left: 40%;
         }
    }
}

.wave-container>svg {
    display: block;
    position: relative;
    top: 20%;
    @include respond(phone){
        //  top:47%;
           top:60%;
         }
}

