.header {
    height: 100vh;
    //background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
    background-color: #0069ca;
    background-size: cover;
    background-position: top;
    &__logo-box {
        position: absolute;
        top: 40%;
        left: 77%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
    &__logo {
        height: 75rem;
    }
    &__text-box {
        position: relative;
        top: 25%;
        left: 25%;
        width: 33%;
        font-size: 1rem;
        transform: translate(-50%, -50%);
        text-align: left;
    }
}

.wave-container>svg {
    display: block;
    position: relative;
    top: 20%;
}

.heading-primary--main1 {
    font-size: 4rem;
    text-transform: uppercase;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.heading-primary--main2 {
    font-size: 3rem;
    z-index: 100;
}

.heading-primary--main3 {
    font-size: 2.5rem;
    z-index: 100;
    //  padding-right: 10rem;
}

.heading-primary--main4 {
    font-size: 2rem;
    // padding-top: 5rem;
    float: right;
    padding-bottom: 1rem;
    z-index: 100;
}