.card {
    perspective: 150rem;
    -moz--perspective: 150rem;
    position: relative;
    height: 65vh;
    // margin: 10vh 0;
    @include respond(phone) {
        height: 25vh;
        margin: 0;
    }
    &__side {
        margin: auto;
        font-size: 2rem;
        height: 65vh;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .15);
        @include respond(phone) {
            height: 21vh;
        }
        @include respond(big-desktop) {
            height: 55vh;
        }
        &--front {
            background-color: $color-white;
        }
        &--back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, #ff7730);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }
    &__picture {
        // height: 30rem;
        // width: 56rem;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-blend-mode: screen;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // margin: auto;
        // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        @include respond(tab-port) {
            left: 50%;
        }
        &--1 {
            background-image: url(../img/1.jpg);
        }
        &--2 {
            background-image: url(../img/2.jpg);
        }
        &--3 {
            background-image: url(../img/3.jpg);
        }
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
    }
    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }
    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 6rem;
    }
    &__price-only {
        font-size: 2rem;
        letter-spacing: .3rem;
        margin-top: 1.5rem;
        @include respond(phone) {
            font-size: 1.5rem;
        }
    }
    &__price-value {
        font-size: 3rem;
        font-weight: 200;
        text-transform: uppercase;
        margin-top: 2.5rem;
        letter-spacing: .3rem;
        @include respond(phone) {
            font-size: 2rem;
        }
    }
    &__new--buttons {
        display: inline-block;
        text-align: center;
        margin: 5vh auto;
    }
}